.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.button {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.label {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.table_cell {
  font-family:'NotoSans', 'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.menu_item {
  font-family:'NotoSans', 'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.icon {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
._默认样式 {
}
.droplist {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
.text_field {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
.primary_button {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.link_button {
  font-family:'NotoSans', 'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#169BD5;
}
.marker {
  font-family:'NotoSans', 'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._形状 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._表格 {
}
textarea, select, input, button { outline: none; }
